/* Reset styles */

@import url("./reset.css");

/* Table styles */

table {
  border: 5px solid rgb(255, 55, 0);
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
}

caption {
  color: rgb(0, 0, 0);
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 48px;
}

caption::first-line {
  color: rgb(211, 50, 50);
}

caption::after {
  content: "#05";
  color: rgb(148, 14, 205);
}

tr {
  height: 48px;
}

th,
td {
  border: 3px solid blue;
  border-collapse: separate;
}

th:not(:first-child) {
  width: 31%;
}

thead tr {
  background-color: rgb(249, 235, 217);
  font-size: 36px;
}

tbody tr td:first-of-type {
  background-color: aqua;
}

tbody tr:nth-child(odd) {
  background-color: rgb(230, 201, 127);
}

tbody tr:nth-child(odd):hover {
  font-weight: 700;
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: rgb(207, 207, 207);
}

tbody tr:nth-child(even):hover {
  font-weight: 700;
  cursor: pointer;
}

tfoot tr {
  background-color: salmon;
}

/* visually-hidden for validation */
h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
